USE [master]
GO
/****** Object:  Database [Inventory]    Script Date: 10-04-2021 16:20:07 ******/
CREATE DATABASE [Inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Inventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Inventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 10-04-2021 16:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NULL,
	[ItemDescription] [varchar](255) NULL,
	[Price] [numeric](10, 0) NULL,
	[Quantity] [numeric](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Id], [ItemName], [ItemDescription], [Price], [Quantity]) VALUES (1, N'USB', N'USB', CAST(0 AS Numeric(10, 0)), CAST(0 AS Numeric(10, 0)))
INSERT [dbo].[Item] ([Id], [ItemName], [ItemDescription], [Price], [Quantity]) VALUES (3, N'mouse', N'mouse', CAST(12 AS Numeric(10, 0)), CAST(120 AS Numeric(10, 0)))
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
USE [master]
GO
